@font-face {
  font-family: 'Jost-SemiBold';
  src: url("../fonts/Jost-SemiBold.eot");
  src: local("Jost SemiBold"), local("Jost-SemiBold"), url("../fonts/Jost-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Jost-SemiBold.woff2") format("woff2"), url("../fonts/Jost-SemiBold.woff") format("woff"), url("../fonts/Jost-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Jost-Regular';
  src: url("../fonts/Jost-Regular.eot");
  src: local("Jost Regular"), local("Jost-Regular"), url("../fonts/Jost-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Jost-Regular.woff2") format("woff2"), url("../fonts/Jost-Regular.woff") format("woff"), url("../fonts/Jost-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Jost-Bold';
  src: url("../fonts/Jost-Bold.eot");
  src: local("Jost Bold"), local("Jost-Bold"), url("../fonts/Jost-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Jost-Bold.woff2") format("woff2"), url("../fonts/Jost-Bold.woff") format("woff"), url("../fonts/Jost-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Jost-Medium';
  src: url("../fonts/Jost-Medium.eot");
  src: local("Jost Medium"), local("Jost-Medium"), url("../fonts/Jost-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Jost-Medium.woff2") format("woff2"), url("../fonts/Jost-Medium.woff") format("woff"), url("../fonts/Jost-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  width: 100vw; }

a {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:hover {
    text-decoration: none; }

body {
  font-family: "Jost-Regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: white;
  background: #081122;
  overflow-x: hidden; }
  body::-webkit-scrollbar {
    width: 0; }

p {
  font-family: 'Jost-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 1.47;
  text-align: center;
  color: #FFFFFF;
  margin: 24px 0;
  max-width: 365px; }
  @media (max-width: 768px) {
    p {
      text-align: left; } }

h2 {
  font-family: 'Jost-Semibold', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 8px; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Jost-SemiBold', sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 1.4;
  color: #FFFFFF;
  width: auto;
  padding: 0 16px;
  box-sizing: border-box;
  height: 40px;
  background: -o-linear-gradient(349.78deg, #0066FF 0%, #209E8B 97.55%);
  background: linear-gradient(100.22deg, #0066FF 0%, #209E8B 97.55%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 120px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .btn:hover {
    background: -o-linear-gradient(100.22deg, #1971F5 0%, #25BBA4 97.55%);
    background: -o-linear-gradient(349.78deg, #1971F5 0%, #25BBA4 97.55%);
    background: linear-gradient(100.22deg, #1971F5 0%, #25BBA4 97.55%); }
  @media (max-width: 768px) {
    .btn {
      margin-bottom: 60px; } }
  .btn svg {
    margin-right: 10px; }

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 120px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    section {
      padding: 35px 0; } }

.logo img {
  width: 245px;
  height: 59px; }

.no-wrap {
  white-space: nowrap; }

.center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  max-width: 700px;
  position: relative; }
  @media (max-width: 768px) {
    .center-block {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }
  .center-block:before {
    content: '';
    background: -o-radial-gradient(50% 50% at 50% 50%, #4d5d6c 60%, #1f214d 60%);
    background: -o-radial-gradient(50% 50%, 50% 50%, #4d5d6c 60%, #1f214d 60%);
    background: radial-gradient(50% 50% at 50% 50%, #4d5d6c 60%, #1f214d 60%);
    -webkit-filter: blur(250px);
    filter: blur(250px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1; }

.two-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 94px; }
  .two-block.reverse {
    margin: 0 -50px;
    width: calc(100% + 100px);
    margin-bottom: 124px; }
    @media (max-width: 990px) {
      .two-block.reverse {
        width: 100%;
        margin: 0;
        margin-bottom: 40px; } }
    .two-block.reverse .column-two {
      width: 40%; }
      .two-block.reverse .column-two .img {
        max-width: 260px; }
    .two-block.reverse .column-one {
      width: 57%; }
      @media (max-width: 768px) {
        .two-block.reverse .column-one {
          width: 100%; } }
  @media (max-width: 768px) {
    .two-block {
      margin-bottom: 40px; } }

.column-one {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 768px) {
    .column-one {
      width: 100%; } }
  .column-one .caption {
    font-family: 'Jost-SemiBold', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 1;
    color: #FFFFFF;
    margin-bottom: 24px; }
    .column-one .caption i {
      font-style: normal;
      padding: 1px 4px;
      background: #0168FC;
      border-radius: 4px;
      max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content; }
    @media (max-width: 768px) {
      .column-one .caption {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .column-one .caption span {
      font-family: 'Jost-Regular', sans-serif;
      font-size: 15px;
      line-height: 17px;
      color: rgba(255, 255, 255, 0.64);
      margin-left: 13px; }
      @media (max-width: 768px) {
        .column-one .caption span {
          margin-left: 0;
          margin-top: 8px; } }
  .column-one .column__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .column-one .column__list .list-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 24px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .column-one .column__list .list-item .logo-icon {
        margin-right: 16px; }
        .column-one .column__list .list-item .logo-icon img {
          width: 65px;
          height: 65px; }
      .column-one .column__list .list-item .text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
        .column-one .column__list .list-item .text .name {
          font-family: 'Jost-Medium', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 17px;
          line-height: 1.18;
          text-align: center;
          color: rgba(255, 255, 255, 0.8);
          margin-bottom: 4px; }
          .column-one .column__list .list-item .text .name.name--yellow {
            color: #F0B90B; }
          .column-one .column__list .list-item .text .name.name--green {
            color: #01C7A5; }
          .column-one .column__list .list-item .text .name.name--orange {
            color: #D1884F; }
          .column-one .column__list .list-item .text .name.name--blue {
            color: #1AADDE; }
        .column-one .column__list .list-item .text p {
          font-family: 'Jost-Regular', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          color: rgba(255, 255, 255, 0.64);
          margin: 0;
          text-align: left; }
          @media (max-width: 810px) {
            .column-one .column__list .list-item .text p {
              white-space: normal; } }
          @media (max-width: 768px) {
            .column-one .column__list .list-item .text p {
              white-space: nowrap; } }
          @media (max-width: 640px) {
            .column-one .column__list .list-item .text p {
              white-space: normal; } }

.column-two {
  width: 28%; }
  @media (max-width: 768px) {
    .column-two {
      display: none; } }
  .column-two .img {
    position: relative;
    width: 100%;
    max-width: 227px; }
    .column-two .img img {
      width: 100%;
      height: auto; }

.lang-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 28px; }
  .lang-box span {
    font-family: 'Jost-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.64);
    cursor: pointer;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }
    .lang-box span:nth-last-child(1) {
      margin-left: 24px; }
    .lang-box span:nth-last-child(2) {
      margin-left: 24px; }
    .lang-box span:hover {
      color: #FFFFFF; }

.facebook-mobile {
  display: none; }
  @media (max-width: 768px) {
    .facebook-mobile {
      display: inline-flex; } }

@media (max-width: 768px) {
  .facebook {
    display: none; } }
.soc-box a {
  margin: 0 12px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .soc-box a svg path {
    fill-opacity: 0.32;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .soc-box a:hover svg path {
    fill-opacity: 1; }
  @media (max-width: 768px) {
    .soc-box a:nth-child(1) {
      margin-left: 0; } }

.corp {
  font-family: 'Jost-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.32);
  margin-top: 28px; }

/*# sourceMappingURL=style.css.map */
